<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		{metatags}
		<link rel="stylesheet" type="text/css" href="public/css/style.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="public/css/flexigrid.css" media="screen"/>
		<script type="text/javascript" src="public/javascript/jquery-1.4.4.min.js"></script>
		<script type="text/javascript" src="public/javascript/jquery.flexigrid.js"></script>
		<script type="text/javascript" src="public/javascript/udm-custom.js"></script>
		<script type="text/javascript" src="public/javascript/udm-control.js"></script>
		<script type="text/javascript" src="public/javascript/udm-style.js"></script>
	</head>
	<body>
		<script type="text/javascript" src="public/javascript/udm-dom.js"></script>
		<script type="text/javascript" src="public/javascript/udm-mod-keyboard.js"></script>
		
		<div id="MainWrapper">
			<div id="Header"><a href="index.html">phpArkitekton {tagline}</a></div>
			<div id="HeaderMenus">{menu}</div>
			<div id="SideContents">
				<h3>Latest News</h3>
				{news}
				{panel}
			</div>
			<div id="MainContent">{content}</div>
			<div id="Footer">{footer}</div>
		</div>
	</body>
</html>