<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{metatags}
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="public/javascript/jquery.validate.js"></script>
		<script type="text/javascript" src="public/javascript/additional-methods.js"></script>
		<script type="text/javascript" src="public/javascript/jquery.form.js"></script>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

		<!-- Optional theme -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
	
		<link rel="stylesheet" type="text/css" href="public/css/flexigrid.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="public/css/style.css" media="screen"/>
		
		<!--[if lt IE 9]>
		<script type="text/javascript" src="public/javascript/html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		
		<div id="MainWrapper">
			<div id="Header"><a href="index.html">phpArkitekton {tagline}</a></div>
			<div class="navbar-xs">
		<div class="navbar-primary">
			<nav class="navbar navbar-static-top" role="navigation">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">{menu}</div>
			</nav>
		</div>
	</div>
			<div id="SideContents">
				<h3>Latest News</h3>
				{news}
				{panel}
			</div>
			<div id="MainContent">{content}</div>
			<div id="Footer">{footer}</div>
		</div>
		
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    	<script src="http://getbootstrap.com/docs-assets/js/holder.js"></script>
    
	</body>
</html>